# Core modules (mandatory)
jupyterlite-core==0.3.0
jupyterlab~=4.1.6
notebook

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.3.1

# JupyterLab: guided tour (optional)
# TODO: re-enable after https://github.com/jupyterlab-contrib/jupyterlab-tour/issues/82
# jupyterlab-tour
jupyterlab-night
jupyterlab_miami_nights

ipywidgets>=8.1.1,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1

ipython_unittest
parameterized
